/* global style */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

/* make flexable header */
header{
    width:100%;
    height:70px;
    border-bottom:1px solid grey;
    margin-bottom:50px;
   
}
.nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width:100%;
    margin-top:auto;
   
}
.nav ul{
    width:100%;
   
} 
.nav ul li {
display:inline-block;
width:22%;
margin:25px auto;
text-align: center;

}
/* style link in navigation */
.nav ul li a{
    text-decoration:none;
    text-align:center;
    font-size:23px;
    margin:auto;

}
.nav ul li a:hover{
    color:orange;
}

/* style description */
#description{
width:90%;
margin:10px 50px;
border:1px solid grey;
border-radius:2%;
padding:15px;

}
/* syle h2 in description id */
#description > h2{
    font-size:22px;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* style to paragraph in description */
#description > p{
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:13px;
} 

/* create a flex container for div elements */
.flex-container{
    width:90%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    margin:50px 50px;
}

/* style div in flex-container */
.flex-container div{
    width:20%;
    height:300px;
    background-color:#BC8F8F;
    border-radius:2%;
    box-shadow :0 5px rgb(238, 206, 206);

}
 /* style footer */
 footer{
     width:100%;
     background-color:darkslategray;
     height:80px;
     align-items:center;
 }
  /* style ul in footer */
  footer u li{

  }