/* global style */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* When the browser is at  */
@media screen and (max-device-width:550px) {
    .flex-container, .flex-container div{
        flex-wrap:wrap;
        align-content:space-around;
    }
    
}
/* make flexable header */
header{
    width:100%;
    height:70px;
    border-bottom:1px solid grey;
    margin-bottom:50px;
   
}
.nav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width:100%;
    margin-top:auto;
   
}
.nav ul{
    width:100%;
   
} 
.nav ul li {
display:inline-block;
width:22%;
margin:25px auto;
text-align: center;

}
/* style link in navigation */
.nav ul li a{
    text-decoration:none;
    text-align:center;
    font-size:23px;
    margin:auto;

}
.nav ul li a:hover{
    color:orange;
}

/* style description */
#description{
width:90%;
margin:10px 50px;
border:1px solid grey;
border-radius:2%;
padding:15px;

}
/* syle h2 in description id */
#description > h2{
    font-size:22px;
    font-style:oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* style to paragraph in description */
#description > p{
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:13px;
} 

/* create a flex container for div elements */
.flex-container{
    width:90%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    align-content:space-around;
    flex-wrap:wrap;
    margin:50px 50px;
}

/* style div in flex-container */
.flex-container div{
    display:flex;
    flex-flow:column wrap;
    justify-content:space-around;
    align-items:center;
    width:20%;
    height:300px;
    background-color:#BC8F8F;
    border-radius:2%;
    box-shadow :0 5px rgb(238, 206, 206);

}
section div img{
    width:90px;
    height:90px;
}
section div p{
    font-size:20px;
    font-style:oblique;
}
section div a {
    color:rgb(37, 37, 48);
    text-decoration:none;
    background-color: rgb(247, 46, 203);
    font-size:22px;
    width:5rem;
    height:2rem;
    text-align:center;
    border:1px solid  rgb(247, 46, 203);
    border-radius:3px;
}
 /* style footer */
 footer{
     display:flex;
     justify-content:center;
     align-items:center;
    
     width:100%;
     background-color:rgb(46, 72, 187);
     height:80px;
     align-items:center;
 }
  /* style ul in footer */
  footer ul li{
      display:inline-block;
      text-align:center;
      color:rgb(209, 199, 199);
      font-size: 18px;
      margin:20px;

}
/* End styles index.html */

/* start style for rules.html */
.rule{
    width:14%!important;
    height:250px !important;
    margin: 15px !important;;
}
aside {
    width:80%;
    float:left;
    box-shadow:inset 2px 0 2px -2px #171818;
    font-style:italic;
    text-align:left;
}
aside p{
    padding-left:2rem;
}
section span{
    font-size:20px;
    float:left;
    /* margin:10px; */
    /* padding-top:10px;
    padding-right:10px; */
}

#rule{
display:flex;
justify-content: space-around;
align-items:center;
width:90%;
height:130px;
margin:10px 50px;
border:1px solid grey;
border-radius:2%;
padding:15px;
}
/* End Style For Rule.html */
